body {
    font-family: "Montserrat";
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat";
}

/*headings*/
.big-heading {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 7% 15%;
}



p {
    color: #8f8f8f;
}

/* Navigation bar*/
.navbar {
    padding: 0 0 10%;

}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/*Download Buttons*/
.download-button {
    margin: 5% 3% 5% 0;
}

/*Title Image*/
/*use transform property to rotate image*/
.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;

}

/*title section*/

#title {
    color: white;
    background-color: #ff4c68;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

/*feature section*/
#features {
    background-color: white;
    padding: 8% 15%;
    position: relative;
    z-index: 1;
    /*see z-index pdf from udemy*/
}

.feature-title {
    font-size: 1.5;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

/*Hover class to change color whenever we hover on icons*/
.icon:hover {
    color: #ff4c68;
}

/*testimonial section*/
.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

#testimonials {
    background-color: #ef8172;
    color: white;
}

.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin: 20px;
    ;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;

}

.press-logo {
    width: 15%;
    margin: 20px 20px 15px;
}



/*Pricing section*/
.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

/*use Media to make it responsive to smaller size*/
@media (max-width:1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);

    }
}

#cta {
    color: white;
    background-color: #ff4c68;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}